// @import './variable';

body{
  background: white;
  font-family: 'Open Sans', sans-serif;
  margin: 0 auto;
}

* {
  font-family: 'Open Sans', sans-serif;
  box-sizing: border-box;
}

button{
  appearance: none;
  border: 0;
  background: none;
  padding: 0;

  &:focus,
  &:hover{
    outline: 0;
  }
}


h1,
h2{
  margin: 0;
}

p{
  margin: 0;
}

figure{
  margin: 0;
}